# Core ML Libraries
torch==2.5.0
transformers==4.46.0
accelerate==1.0.1
sentence-transformers==3.2.1
faiss-cpu==1.9.0

# Audio Processing
ffmpeg-python==6.1.1

# Web Framework
streamlit==1.39.0

# Language Processing
langchain==0.3.4
langchain-community==0.3.3
google-ai-generativelanguage==0.6.11

# PDF Processing
pypdf==5.0.1
reportlab==3.6.13

# Dependencies
grpcio==1.67.0
grpcio-status==1.67.0
